@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');


.logo {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

.mainlink {
  text-decoration: none;
}

.home {
  width: 80%;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.show-image {
  display: flex;
  justify-content: center;
}
.show-image img {
  height: 700px;
}

.show-info {
  width: 80%;
  margin-left: 10%;
}

.show-info .show-name {
  font-size: 2rem;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
}

.show-info .summary{
  font-size: 1.3rem;
  font-family: 'Signika Negative', sans-serif;

}
